body {
  /* font-family: proxima-nova, helvetica; */
  font-family: "proxima-nova", Helvetica neue, Arial, sans-serif;
}
.basic-template {
  position: relative;
}
a {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 25px;
  color: #606060;
}

.loogo {
  width: 200px;
}

.loogo img {
  width: 100%;
}

#content {
  background-color: #dedede;
}
.cont_width {
  width: 980px;
}

.valet {
  color: #d18741;
}

/* .header_link */
header {
  margin-top: -20px;
}
.header_link {
  display: none;
}

.header_link.sticky {
  padding: 5px 100px;
  background-color: #000;
}
.header_link.sticky .logo,
.header_link.sticky ul li a {
  color: #fff;
}

.header_link .logo {
  position: relative;
  transition: 0.6s;
}

.logo p {
  color: #fff;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.header_link ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header_link ul li {
  position: relative;
  list-style: none;
}

.header_link ul li a {
  position: relative;
  margin: 0 12px;
  text-decoration: none !important;
  color: #fff;
  letter-spacing: 0px;
  transition: 0.6s;
  font-weight: 500;
  font-size: 16px;
}

.header_link .hamburg {
  display: none;
  cursor: pointer;
}

.header_link .hamburg .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

/* home banner */

.content {
  display: block;
}

.home_banner {
  /* padding-top: 40px; */
}
.banner_img {
  width: 980px;
  margin: 0 auto;
  background: url(/public/img/homepage/hero2.png) no-repeat center;
  padding: 150px 0px 100px 0px;
}

.banner_img h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  padding: 0;
  margin-bottom: 15px;
  margin-left: 75px;
}
.banner_img li {
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
  margin-left: 75px;
}
.home_bg_gray {
  background-color: #e3e3e3;
  border-bottom: 2px solid #cacaca;
}

.home_bg_gray .run {
  width: 980px;
  margin: 0 auto;
  margin-top: -20px;
}
.home_bg_gray .run_text p {
  font-size: 21px;
  font-style: italic;
  color: #606060;
}

.home_bg_gray .text_michele {
  /* float: right; */
  color: #606060;
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
.home_bg_gray .text_michele p {
  font-size: 12px;
  line-height: 15px;
}

.banner_img h3 {
  font-weight: 600;
}

.banner_text {
  margin-left: 50px;
}
.banner_text li {
  font-weight: 600;
  font-size: 18px;
}

#banner .login p {
  margin: 0;
}

#banner .login {
  margin: 0;
  text-shadow: 2px 0px #444;
  text-align: center;
  width: 100px;
  float: right;
}

#banner .login {
  background-color: #f19960;
  padding: 3px;
  color: #fff;
  margin-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

#banner .login i {
  margin-right: 3px;
}

.create {
  text-decoration: none !important;
  background-color: #d18741;
  color: #2a2a2a !important;
  padding: 8px 20px;
  display: inline-block;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 25px;
  margin-left: 75px;
  border: 1px solid #d18741;
  transition: 0.4s;
}
.create:hover {
  color: #d18741 !important;
  background-color: transparent;
}

/* group valet  */

.group_valet {
  width: 980px;
  margin: auto;
  padding: 50px 0;
}
.group_valet h3 {
  text-align: center;
  margin-bottom: 10px;
}

.group_valet .group_text {
  display: flex;
  justify-content: space-between;
}
.group_valet .group_text .right {
  width: 50%;
}
.group_valet .group_text .right p {
  font-size: 20px;
  margin-bottom: 20px;
}

.group_valet .group_text .left .video {
  width: 450px;
  height: 270px;
}
.group_valet .group_text .left .video iframe {
  width: 100%;
  height: 100%;
}

/* home_over */

.over_content {
  display: flex;
  width: 980px;
  margin: 0 auto;
  padding: 20px 0;
}

.over_content .left strong {
  font-style: italic;
}
.over_content .left h3 {
  margin-top: 10px;
  padding: 0;
}

.over_content .left .over_bullet {
  margin-top: 30px;
  margin-left: 30px;
}

.over_content .left .over_bullet p {
  font-size: 20px;
  color: #606060;
  line-height: 30px;
}

/* home find start */

.find {
  width: 980px;
  margin: 0 auto;
  padding: 30px 0;
}

.find h3 {
  text-align: center;
  margin: 10px 0;
}

.find .find_content {
  display: flex;
  justify-content: space-between;
}
.find .find_content .left {
  width: 48%;
}

.find .find_content p {
  font-size: 20px;
  margin-bottom: 20px;
}
.find .find_content a {
  margin-bottom: -10px;
  display: block;
}
.try_btn {
  text-align: center;
  padding: 10px 20px;
  background-color: #be794c;
  font-size: 20px;
  color: #fff !important;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  width: 140px;
  border: 1px solid #be794c;
  transition: 0.4s;
  margin-left: 30px;
}
.about_try a {
  margin: 0;
}

.about_try a {
  margin: 15px auto;
}

.try_btn:hover {
  background-color: #fff;
  border: 1px solid #be794c;
  color: #be794c !important;
}
/* home ready */

.ready_content {
  width: 980px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
}
.ready_content .right {
  width: 270px;
  margin-right: 188px;
  height: 180px;
}

.ready_content .right img {
  width: 100%;
  height: 100%;
}
/* golf */
#golf {
  margin: 30px 0;
}
#golf .golf_text {
  color: #606060;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
}
.golf_member {
  /* text-align: right; */
  color: #606060;
  font-size: 14px;
}
.golf_member a {
  color: #d18741;
}

/* over */
.over_right p {
  font-size: 30px;
  margin: 0;
}
span.bold {
  font-weight: 700;
}

span.valet {
  color: #d18741;
}
.try {
  color: #fff;
}

.over_point {
  margin-top: 20px;
}
.over_point p {
  margin-left: 40px;
  font-size: 20px;
  color: #606060;
}
.over_point .arrow {
  color: #d18741;
}
/* find start */

#find {
  padding: 50px 0;
}
.find_btn {
  /* display: inline; */
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
}
.find_left,
.find_right {
  font-size: 18px;
}

.find_left a,
.find_right a {
  color: #d18741;
  font-size: 20px;
  margin-bottom: 10px;
}

/* who */

.who {
  background-color: #e3e3e3;
  padding: 35px 0;
}

.hplogo a {
  text-decoration: none;
}
/* uses */
#uses {
  padding: 30px 0;
  background-color: #e3e3e3;
}

#uses a {
  text-decoration: none;
}

#uses a p {
  margin: 0;
  color: #2a2a2a;
  font-size: 15px;
}

/* ready */
#ready {
  padding: 30px 0;
}

.ready_left {
  padding: 80px 0;
}

.ready_left .text span {
  color: #d18741;
}

.ready_left .text p {
  font-size: 22px;
}
.ready_left .text a {
  color: #d18741;
}

/* footer */
.footer-list a {
  color: #fff;
  text-decoration: none;
}
.for_foot {
  padding-top: 40px;
}
/* footer */

.footer {
  background-color: #373737;
  padding: 40px 0;
  display: block;
}

.footer .footer_content {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer_content .footer_left {
  width: 48%;
}

.footer_content .footer_left h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.footer_content .footer_left p {
  color: #fff;
  font-size: 16px;
}

.footer_content .footer_right {
  width: 48%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer_content .find_right {
  width: 15%;
}

#footer {
  background-color: #343434;
  color: #fff;
  padding: 30px 0;
}
.icon {
  /* margin-top: 30px; */
  /* margin-bottom: 20px; */
}
#footer h3 {
  color: #fff;
}

/* sign-up */

.overflow_o {
  margin: 20px 0;
}
#grouphomepage-content {
  /* margin-top: -320px; */
  margin: 0 30px;
}

.humbarger {
  display: none;
  /* background-color: red; */
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 55px;
}
.humbarger i {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.modal_menu {
  background-color: #606060;
  border: 2px solid #d18741;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0px 2px 10px 1px #373737;
  overflow: hidden;
  top: 80px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 120px;
  z-index: 99900000;
  display: block;
}

.modal_items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 500px; */
}
.modal_items i {
  color: #fff;
  background-color: red;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 20px 0;
  font-size: 20px;
  cursor: pointer;
}
.modal_items a {
  color: #fff;
  margin: 8px;
  padding: 5px;
  font-size: 18px;
  text-decoration: none;
}

.modal_items a:hover {
  color: rgb(246, 246, 69);
}

.modal_menu_active {
  display: block;
}
.wrapper_img {
  width: 100%;
  text-align: center;
}

p.soft {
  color: #fff;
  font-size: 18px;
  margin: 5px 0 0 05px;
}
/* about page */
.about_gray_content {
  background-color: #e3e3e3;
  padding: 40px 0 30px 0;
}
.about_img {
  width: 980px;
  margin: 0 auto;
  text-align: center;
}
.audio {
  padding: 20px 0;
}

.about_gray_content .started,
.solution,
.pillars,
.useEng {
  width: 980px;
  margin: 0 auto;
  padding: 30px 0;
}

.useEng h3,
.pillars h3,
.solution h3,
.started h3 {
  text-align: center;
}

.use_text p,
.pillars p,
.solution p,
.started p {
  margin-bottom: 20px;
}

.solution_text {
  display: flex;
}

.pillars ol li {
  font-size: 18px;
  margin: 5px 0;
}

/* country-club start */
.wid {
  width: 980px;
  margin: 0 auto;
}

.testimonials,
.country {
  text-align: center;
  padding-top: 40px;
  background-color: #e3e3e3;
  padding-bottom: 40px;
  border-bottom: 2px solid #cecece;
}

.country_content .create {
  margin: 10px 0 40px 0;
}

.country_content {
  background-image: url("../img/clubspage/club-page-hero.png");
  background-repeat: no-repeat;
  color: #fff;
  background-size: cover;
}
.test_banner {
  background-image: url("../img/testimonials.png");
  background-repeat: no-repeat;
  color: #fff;
  background-size: cover;
}
.testimonials h1,
.country h1 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 195px;
}
.testimonials h1 {
  padding: 180px 0 30px 0;
}

.testimonials .create {
  /* margin: 0; */
  margin-bottom: 50px;
  margin: 20px 0 50px 0;
}
/* . */
.testimonials p,
.country p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-top: 15px;
}

.testimonials p {
  margin: 0;
  /* padding: 20px 0; */
  font-weight: normal;
  font-size: 16px;
}
.make {
  background-color: #e3e3e3;
}

/* testimonials */
.testimonial_item {
  width: 980px;
  margin: 0 auto;
}
.testimonial_item .item {
  padding: 20px;
  background-color: #f4f0e7;
  margin: 20px 0;
  border: 2px solid #dbd5c8;
  border-radius: 5px;
}

.testimonial_item .item h3 {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
}
.testimonial_item .item_right {
  text-align: right;
}
.testimonial_item .item_right h3 {
  text-align: right;
}
.testimonial_item .item strong {
  display: block;
}

.testimonial_item .item p {
  font-size: 14px;
  padding: 0;
  margin: 0;
  line-height: 15px;
  color: #222;
}
/*  */
.make_content h2 {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 400;
  margin: 0px 0 20px 0;
}
.make_content p {
  margin-bottom: 20px;
  text-align: left;
  color: #606060;
}

.make_content a {
  display: flex;
  justify-content: center;
}

.choose_content h1 {
  font-size: 43px;
  font-weight: 600;
  text-transform: none;
  padding: 30px 0;
}

.choose p {
  margin: 10px 0 10px 0px;
  color: #606060;
}
.orange_bg {
  width: 100%;
  background-color: #be7837;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0;
  color: #fff !important;
  margin: 20px 0;
}

.choose .p_mar {
  margin: 15px 0 15px 00px;
}

.choose {
  background-color: #fff;
}
.arrow p {
  margin-left: 30px;
}

.choose p.dash {
  margin-left: 55px;
}
.group_img img {
  width: 100%;
  margin: 20px 0;
}

.ss {
  text-align: center;
}

/* country-club */

/* hoas */

.assos {
  text-align: center;
}

/* partners */

.table_btm,
.table_top {
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

.partner_btm,
.partner_top {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.partner_btm img {
  width: 210px;
  margin: 0 20px;
}
.partner_top img {
  width: 220px;
  margin: 0 20px;
}
.golf_logo {
  width: 180px;
}

/* blog page */

.blog_banner {
  width: 980px;
}

.blog_content {
  text-align: left;
}

.blog_content .item {
  border-bottom: 2px solid #cbcbcb;
  padding-bottom: 30px;
}
.blog_content .item a {
  color: #d18741;
  text-decoration: none;
  font-size: 35px;
  font-weight: 600;
  margin: 20px 0;
  display: inline-block;
}

.blog_content .item a:hover {
  color: #222222;
}
.blog_content .item p {
  padding: 0;
  margin: 0 0 20px 0;
  color: #222222;
}

.blog_content .item strong {
  display: block;
}

/* optimizing */

.optimizing {
  background-color: #e3e3e3;
  padding: 30px 0;
}
.optimizing .top {
  /* text-align: center; */
}

.optimizing .top a {
  font-weight: 600;
  font-size: 15px;
}

.optimizing .top p {
  text-align: center;
  font-size: 14px;
}
.optimizing .top h1 {
  margin-top: 40px;
}

.opt_text p {
  margin: 15px 0;
}

.opt_text strong {
  font-size: 20px;
}

.optimizing img {
  width: 100%;
  margin-top: 30px;
}

/* unsubscribe */
.unsubs_form {
  background-color: #eee;
  padding: 50px 0;
  margin: 0;
}
.unsubs_content {
  width: 980px;
}

.unsubs_form h2 {
  margin-bottom: 15px;
}
.unsubs_content .form {
  width: 750px;
  padding: 0px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  background-color: #fff;
  /* margin-top: 15px; */
}

/* commu_content */
.commu_content .img {
  text-align: center;
}
.commu_content img {
  width: 980px;
  margin: 0 auto;
}

.community {
  background-color: #e3e3e3;
  padding: 40px 0;
}
.commu_text p {
  color: #222222;
}

.commu_text p.commu_bold {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}
.commu_text h3 {
  text-align: center;
  font-weight: 600;
}

/* responsive */
@media (max-width: 1040px) {
  #header-right-updated {
    display: none;
  }

  .humbarger {
    display: block;
  }

  .header_link {
    display: block;
  }
  .hamburg {
    display: block !important;
    position: absolute;
    right: 30px;
    top: 50px;
  }

  .hamburg.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburg.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburg.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header_link.sticky .hamburg .bar {
    background-color: #000;
  }

  .header_link {
    /* padding: 25px 35px; */
  }
  .header_link.sticky {
    padding: 15px 1px;
  }

  .header_link ul {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    gap: 0;
    background-color: #000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    color: #000;
    z-index: 222222;
  }

  .header_link.sticky .logo {
    /* color: #; */
  }
  .header_link.sticky ul {
    background-color: #fff;
  }

  .header_link.sticky ul li a {
    color: #000;
  }
  .header_link ul li {
    margin: 16px 0;
  }

  .header_link ul.active {
    left: 0;
  }

  /* footer */

  .footer_content {
    width: 750px;
    margin: 0 auto;
  }

  .btn-wrapper {
    width: 760px;
    margin: 0 auto;
    position: relative;
  }
  #panel .gp-login-form-container {
    width: auto;
    height: 100%;
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
  }
  #panel .gp-forms-options {
    width: auto;
  }
  #panel .placeholding-input {
    float: none;
  }
  #panel .gp-login-form-container #username,
  #panel .gp-login-form-container #password {
    width: calc(100% - 14px);
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    background-image: none;
    background: #fff;
  }
  #panel {
    height: 130px;
  }
  .wrapper,
  .btn-wrapper,
  .signup-content-container {
    width: 100%;
  }
  .gp-login-form-container .email-placeholder {
    left: 14px;
    width: auto;
  }
  #header-left {
    margin-left: 30px;
  }

  p.soft {
    color: #fff;
    font-size: 18px;
    margin: 5px 0 0 3px;
    /* background-color: red; */
  }

  #panel {
    margin-top: 30px !important;
  }
  .wrapper_img img {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .footer {
    width: 100%;
    /* margin-top: 80px; */
  }

  .footer_content {
    align-items: center;
    width: 720px !important;
    margin: 0 auto !important;
    justify-content: center;
  }

  /* .hoas_main, */

  /* .blog_content .item, */

  .commu_content .img,
  .table_btm,
  .table_top,
  .home-main-content,
  .inner-container,
  .assos img,
  .wid,
  .banner_img,
  .home_bg_gray .run,
  .group_valet,
  .over_content,
  .find,
  .home-main-contentm,
  .ready_content {
    width: 720px !important;
    margin: 0 auto;
  }

  .optimizing img,
  .wid img,
  .about_img img {
    width: 100%;
  }

  .blog_banner {
    width: 720px;
    background-position: center;
  }

  .golf_logo {
    width: 100px !important;
  }
  .solution_text .right {
    text-align: center;
  }
  .solution_text {
    flex-direction: column;
  }

  .footer_content .footer_left {
    width: 50%;
  }
  .footer_content .footer_left {
    width: 45%;
  }

  .btn-wrapper {
    width: 720px;
    margin: 0 auto;
    position: relative;
  }

  #panel .gp-login-form-container {
    width: auto;
    height: 100%;
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
  }
  #panel .gp-forms-options {
    width: auto;
  }
  #panel .placeholding-input {
    float: none;
  }
  #panel .gp-login-form-container #username,
  #panel .gp-login-form-container #password {
    width: calc(100% - 14px);
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    background-image: none;
    background: #fff;
  }
  #panel {
    height: 130px;
  }
  #header-left {
    margin-left: 30px;
  }
  #panel {
    margin-top: 30px !important;
  }
  /* home iframe */
  .group_valet .group_text .left .video iframe {
    width: 350px;
    height: 220px;
  }
  .who {
    background-color: #e3e3e3;
    padding: 30px 0;
  }
  .make_content img {
    width: 720px;
  }

  .partner_btm img {
    width: 130px;
    margin: 0 20px;
  }

  .ready_content .right {
    width: 290px;
  }
  .panel-wrapper {
    margin-top: -30px;
  }
}

@media (min-width: 309px) and (max-width: 768px) {
  .footer {
    width: 100%;
    /* margin-top: 80px; */
  }
  .footer .footer_content {
    align-items: center;
    flex-direction: column;
    width: 450px !important;
    flex-direction: column;
    margin: 0 auto !important;
    flex-direction: column-reverse;
  }

  .footer_content .footer_left,
  .footer_right {
    width: 100% !important;
    text-align: center;
  }
  .btn-wrapper {
    width: 500px;
    margin: 0 auto;
    position: relative;
  }
  #panel .gp-login-form-container {
    width: auto;
    height: 100%;
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
  }
  #panel .gp-forms-options {
    width: auto;
  }
  #panel .placeholding-input {
    float: none;
  }
  #panel .gp-login-form-container #username,
  #panel .gp-login-form-container #password {
    width: calc(100% - 14px);
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    background-image: none;
    background: #fff;
  }
  #panel {
    height: 130px;
    margin-top: 30px;
  }
  #header-left {
    margin-left: 30px;
  }

  #panel {
    margin-top: 30px !important;
  }

  .unsubs_content .form,
  .unsubs_content,
  .table_btm,
  .table_top,
  .home-main-content,
  .inner-container,
  .assos img,
  .ss img,
  .make_content img,
  .wid,
  .banner_img,
  .home_bg_gray .run,
  .group_valet,
  .over_content,
  .find,
  .home-main-contentm,
  .ready_content {
    width: 450px !important;
    margin: 0 auto;
  }
  .find_content,
  .over_content,
  .group_valet .group_text {
    flex-direction: column;
  }

  .solution_text .right {
    text-align: center;
  }
  .solution_text {
    flex-direction: column;
  }

  .wid img,
  .about_img img {
    width: 100%;
  }

  .table_btm img {
    width: 70px;
  }
  .table_top img {
    width: 120px;
  }
  .find .find_content .left {
    width: 100%;
  }

  .group_valet .group_text .right {
    width: 100%;
  }

  .ready_content .right img {
    width: 100%;
    height: 100%;
  }

  .ready_content .right {
    width: 280px;
    height: 140px;
    margin: 30px 0 0 0;
  }
  .banner_img {
    background-size: 500px;
    padding: 40px 0px;
  }
  .banner_img h3 {
    font-size: 17px !important;
    font-weight: 600;
    padding: 0;
    margin-bottom: 5px;
    margin-left: 15px;
  }
  .banner_img li {
    color: #fff;
    margin-bottom: 5px;
    font-size: 15px;
    margin-left: 15px;
  }
  .try_btn,
  .create {
    padding: 4px 10px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 15px;
    margin-left: 15px;
  }
  .try_btn {
    /* margin: 0 auto; */
    width: 100px;
    margin-top: 20px;
  }
  .home_bg_gray .run_text p {
    font-size: 15px;
  }
  .group_valet .group_text .right p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .over_content .left h3 {
    margin-top: 0px;
    padding: 0;
    font-size: 20px;
  }
  .over_content .left .over_bullet {
    margin-top: 10px;
    margin-left: 10px;
  }
  .over_content .left .over_bullet p {
    font-size: 15px;
    color: #606060;
    line-height: 20px;
  }
  .over .right {
    text-align: center;
  }
  .find .find_content p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .home-logos {
    flex-direction: column;
    align-items: center;
  }
  .hplogo {
    margin: 5px 0;
  }
  .group_valet {
    padding: 20px 0px;
  }

  .ready_content .left h2 {
    font-size: 20px;
  }

  .ready_content .left h3 {
    padding: 10px 0;
    font-size: 20px;
    line-height: 20px;
  }

  .ready_content {
    padding: 30px 0;
  }

  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 16px;
  }
  .orange_bg {
    font-size: 15px;
    padding: 10px;
  }
  .blog_content .item a {
    font-size: 20px;
  }

  .icon {
    margin-top: 30px;
    /* margin-bottom: 20px; */
  }
  .footer_right {
    padding-top: 0 !important;
  }
  .banner_img {
    padding-top: 55px;
    padding-bottom: 40px;
  }
  .panel-wrapper {
    margin-top: -30px;
  }
  .home_bg_gray .run {
    margin-top: -20px;
  }

  .about_try a {
    margin: 15px auto;
  }

  .testimonials h1 {
    padding: 130px 0 20px 0;
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .home-hero-bg-img {
    /* width: 760px; */
    height: 400px;
  }
}
